body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: antiquewhite;
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #d83131;
    border-radius: 5px;
    background-color: #bb9b9b;;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}