<!-- {% extends 'base.html' %}

{% block title %} Algoritma dan Struktur data{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="p-5 bg-light border rounded shadow">
                <form action="/tambah_barang" method="POST">

                    <div class="mb-3">
                        <label for="name" class="form-label">Nama Barang:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="id_barang" class="form-label">ID:</label>
                        <input type="number" class="form-control" id="id_barang" name="id_barang" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="stok_barang" class="form-label">Stok:</label>
                        <input type="number" class="form-control" id="stok_barang" name="stok_barang" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="harga_barang" class="form-label">Harga:</label>
                        <input type="number" class="form-control" id="harga_barang" name="harga_barang" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Tambah Barang</button>
                
                </form>
            </div>
            
        </div>
    </div>
</div>

<style>
    body {
        background: url('/static/img/bg2.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    .bg-light {
        background-color: rgba(255, 255, 255, 0.8) !important; 
        backdrop-filter: blur(5px) ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>

{% endblock %} -->
